/**
 * 公共样式
 */

/**
 * 清除浮动
 */
.qui_clear:after {
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}

/**
 * 框架 main 用于main
 */
.frame_center {
  background-color: #e9eaeb;
  width: 100%;
}

/**
 * 框架 frame_center_main 用于main中的主体
 */
.frame_center_main {
  width: 58%;
  min-width: 1112px;
  margin: 0 auto;
  background: #fff;
  @include webkit("box-shadow", 0 1px 2px 0 rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

/**
 * main 中左侧的样式 chunk块
 */
.chunk_title {
  height: 100%;
  width: 15%;
  min-width: 175px;
  border-right: 1px dotted #dce1e6;
  border-radius: 4px 0 0 4px;
  display: table-cell;
  vertical-align: top;
  margin-right: 1px;
  @include webkit("box-sizing", border-box);
  background: #f9fafc;
}

/**
 * main 中右侧的样式
 */
.chunk_cnt {
  height: 100%;
  width: 80%;
  display: table-cell;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
  word-break: break-word;
  padding: 16px 12px 24px;
}

/**
 * a链接样式 tabNav_item 
 */
.tabNav_item {
  float: none;
}

/**
 * a链接样式 tabNav_item 
 */
.tabNav_item_Link {
  display: block;
  color: #000;
  background: tranparent;
  height: 28px;
  line-height: 28px;
  padding: 8px 32px;
  cursor: pointer;
  padding-right: 0;
}

/**
 * 子组件中的内容区样式设置
 */
.tab_cnt {
  padding: 15px 25px;
}

/**
 * 分隔符
 */
.frame_operation_separator {
  height: 10px;
  width: 8px;
  color: #8298b4;
  padding: 0 6px;
}

/**
 * table
 */
.mm_tabel td {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  border-bottom: solid 1px #e4e6e9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mm_tabel th,
.mm_tabel td {
  padding-left: 10px;
  padding-right: 5px;
  box-sizing: border-box;
  cursor: pointer;

  input {
    vertical-align: -3px;
    width: 14px;
    height: 14px;
  }
}

.mm_tabel th:first-child,
.mm_tabel td:first-child {
  width: 20px;
}

.mm_tabel th:first-child {
  input {
    vertical-align: -3px;
    width: 14px;
    height: 14px;
  }
}

.mm_tabel td:last-child {
  width: 20px;
}

.mm_tabel th:first-child:before {
  width: 0;
}

.mm_tabel th {
  padding-bottom: 4px;
  border-bottom: 1px solid #e4e6e9;
  line-height: 18px;
  font-size: 12px;
  color: #787878;
}

.mm_tabel th:before {
  content: "";
  width: 1px;
  background-color: #e4e6e9;
  height: 18px;
  float: left;
  margin-left: -10px;
}

thead,
tbody {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

/**
 * contacts 中的a链接
 */
.memberLink {
  font-size: 12px;
  color: #000;
  display: inline-block;
  margin-right: 6px;
  line-height: 24px;
  padding: 0 12px;
  border: 1px solid #aaaaaa;
  background: #fff;
  cursor: pointer;
}

.memberLink:hover {
  background: #f0f0f0;
}

/**echarts 中表格异常，覆盖不全*/
#info_temperature canvas {
  top: 1px !important;
}

.BMap_cpyCtrl,
.anchorBL {
  // 隐藏百度地图商标
  display: none;
}

//* pagingConfig 分页配置
// .pagingConfig {
//   position: absolute;
//   right: 10px;
//   top: 20px;
// }
.pagingConfig {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

/** 
 *修改按钮样式
 */
.modifyInfoBtn {
  color: #0c4c7f;
}

.modifyInfoBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
 *documents
 */
.document_fix {
  position: relative;
  top: -60px;
  left: 0;
  padding-top: 24px;
  margin-bottom: -150px;

  p:first-child {
    font-size: 20px;
  }

  .frame_cnt {
    padding: 40px 60px;
    line-height: 1.57;
    font-size: 14px;
    @include webkit("box-sizing", border-box);
  }
}

// 版本
.version {
  color: #9e9e9e;
  text-align: center;
  font-size: 12px;
}

.MsoNormal {
  mso-margin-top-alt: auto;
  mso-margin-bottom-alt: auto;
  text-align: left;
  mso-pagination: widow-orphan;
  background: white;
  margin: 14px 0 6px;
}

b {
  font-weight: 700;
}

.frame_operation_dep {
  color: #9e9e9e;
  height: 10px;
  width: 8px;
  padding: 0 6px;
}

/**部门
 *
 */
.departManagers {
  width: 70%;
  text-overflow: ellipsis;
  height: 100%;
  font-size: 14px;
  color: rgb(0, 0, 0);
  float: left;
  margin-left: 45px;

  .departContent {
    display: inline-block;
    .depart_item {
      border: 1px solid #ddd;
      height: 32px;
      line-height: 32px;
      width: 78px;
      color: #000;
      padding: 0 8px;
      margin-right: 20px;
      margin-bottom: 15px;
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      @include webkit("box-sizing", border-box);

      span {
        font-size: 12px;
        margin-left: 5px;
      }
    }

    .item_margin-bottom {
      margin-bottom: 15px;
    }

    .depart_item:hover {
      background: #f0f0f0;
    }
  }
}