/**
 * 公共样式
 */

/**
 * 清除浮动
 */
.qui_clear:after {
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}

/**
 * 框架 main 用于main
 */
.frame_center {
  background-color: #e9eaeb;
  width: 100%;
  margin-bottom: 23px;
}

/**
 * 框架 frame_center_main 用于main中的主体
 */
.frame_center_main {
  width: 1080px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/**
 * main 中左侧的样式 chunk块
 */
.chunk_title {
  width: 184px;
  border-right: 1px dotted #dce1e6;
  border-radius: 4px 0 0 4px;
  display: table-cell;
  vertical-align: top;
  margin-right: 1px;
  box-sizing: border-box;
  background: #f9fafc;
}

/**
 * main 中右侧的样式
 */
.chunk_cnt {
  width: 895px;
  display: table-cell;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
  word-break: break-word;
}

/**
 * a链接样式 tabNav_item 
 */
 .tabNav_item {
   float: none;
 }

/**
 * a链接样式 tabNav_item 
 */
.tabNav_item_Link {
  display: block;
  color: #000;
  background: tranparent;
  height: 28px;
  line-height: 28px;
  padding: 8px 32px;
  cursor: pointer;
  padding-right: 0;
}

/**
 * 子组件中的内容区样式设置
 */
.tab_cnt {
  padding: 15px 25px;
}