/**
 * 公共样式
 */

/**
 * 清除浮动
 */
.qui_clear:after {
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}

/**
 * 框架 main 用于main
 */
.frame_center {
  background-color: #e9eaeb;
  width: 100%;
}

/**
 * 框架 frame_center_main 用于main中的主体
 */
.frame_center_main {
  width: 1080px;
  margin: 0 auto;
  background: #fff;
  @include webkit("box-shadow", 0 1px 2px 0 rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

/**
 * main 中左侧的样式 chunk块
 */
.chunk_title {
  height: 100%;
  width: 184px;
  border-right: 1px dotted #dce1e6;
  border-radius: 4px 0 0 4px;
  display: table-cell;
  vertical-align: top;
  margin-right: 1px;
  @include webkit('box-sizing', border-box);
  background: #f9fafc;
}

/**
 * main 中右侧的样式
 */
.chunk_cnt {
  height: 100%;
  width: 895px;
  display: table-cell;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
  word-break: break-word;
  padding: 16px 12px 24px;
}

/**
 * a链接样式 tabNav_item 
 */
.tabNav_item {
  float: none;
}

/**
 * a链接样式 tabNav_item 
 */
.tabNav_item_Link {
  display: block;
  color: #000;
  background: tranparent;
  height: 28px;
  line-height: 28px;
  padding: 8px 32px;
  cursor: pointer;
  padding-right: 0;
}

/**
 * 子组件中的内容区样式设置
 */
.tab_cnt {
  padding: 15px 25px;
}

/**
 * 分隔符
 */
.frame_operation_separator {
  height: 10px;
  width: 8px;
  color: #8298b4;
  padding: 0 6px;
}

/**
 * table
 */
.mm_tabel td {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  border-bottom: solid 1px #e4e6e9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mm_tabel th,
.mm_tabel td {
  padding-left: 10px;
  padding-right: 5px;
  box-sizing: border-box;
  cursor: pointer;
  input {
    vertical-align: -3px;
    width: 14px;
    height: 14px;
  }
}
.mm_tabel th:first-child,
.mm_tabel td:first-child {
  width: 20px;
}
.mm_tabel th:first-child {
  input {
    vertical-align: -3px;
    width: 14px;
    height: 14px;
  }
}
.mm_tabel th:last-child:before {
  width: 0;
}
.mm_tabel td:last-child {
  width: 20px;
}
.mm_tabel th:first-child:before {
  width: 0;
}
.mm_tabel th {
  padding-bottom: 4px;
  border-bottom: 1px solid #e4e6e9;
  line-height: 18px;
  font-size: 12px;
  color: #787878;
}
.mm_tabel th:before {
  content: "";
  width: 1px;
  background-color: #e4e6e9;
  height: 18px;
  float: left;
  margin-left: -10px;
}
thead,
tbody {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
/**
 * contacts 中的a链接
 */
.memberLink {
  font-size: 12px;
  color: #000;
  display: inline-block;
  margin-right: 6px;
  line-height: 24px;
  padding: 0 12px;
  border: 1px solid #aaaaaa;
  background: #fff;
  cursor: pointer;
}
.memberLink:hover {
  background: #f0f0f0;
}

/**echarts 中表格异常，覆盖不全*/
#info_temperature canvas {
  top: 1px !important;
}

.BMap_cpyCtrl, .anchorBL { // 隐藏百度地图商标
  display: none;
}