/**
 * element-ui 组件全局样式设置
 */

/**
  * input 搜索框样式
  */
.chunk_title_top .el-input__inner {
  height: 25px;
  width: 212px;
  border: 1px solid #b4bec8;
  border-radius: 0;
  font-size: 12px;
  color: #aaaaaa;
}
.chunk_title_top .el-input__inner:focus {
  border: 1px solid $tabNav_color;
}
.chunk_title_bottom .el-tree {
  background-color: transparent;
}
.chunk_title_bottom {
  .addDialog,
  .modifyDialog {
    .el-dialog {
      @include webkit("box-shadow", none);
    }
  }
  .memberList {
    .el-tree-node__content {
      position: relative;
    }
    .tree-text {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 43px;
      @include webkit("box-sizing", border-box);
    }
    .departTool {
      .moreTool {
        vertical-align: middle;
      }
    }
    .moreTool {
      vertical-align: middle;
      display: inline-block;
      margin-left: 15px;
    }
    .delMemberBtn {
      /*position: absolute;
      right: 0;
      top: 0;*/
    }
    .addMemberBtn {
      /*position: absolute;
      right: 0;
      top: 0;*/
    }
  }
}
.v-modal {
  z-index: 1000 !important;
}

// tree 节点

/*
 * rail
 */
.modifyRailModule {
  //height: 950px;
}
// modify form表单
.modify_ruleForm {
  padding: 20px 20px 0 0;
  .railBtn {
    margin-top: 20px;
  }
}
.form-item {
  margin-bottom: 20px;
}

.detail {
  .el-form-item__label {
    text-align-last: left;
    width: 120px;
    padding-right: 9px;
    font-size: 14px;
  }
  .label-info {
    font-size: 14px;
  }
}

.list {
  .el-submenu__title {
    width: 205.84px;
  }
  .el-submenu__title:focus {
    background: #dfe9f5;
  }
}

#memberRailList .el-dialog {
  width: 55%;
}

/**部门 左侧菜单*/
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}
