/**
 * element-ui 组件全局样式设置
 */

/**
  * input 搜索框样式
  */
.chunk_title_top .el-input__inner {
  height: 25px;
  width: 212px;
  border: 1px solid #b4bec8;
  border-radius: 0;
  font-size: 12px;
  color: #aaaaaa;
}

.chunk_title_top .el-input__inner:focus {
  border: 1px solid $tabNav_color;
}

.chunk_title_bottom .el-tree {
  background-color: transparent;
}

.chunk_title_bottom {
  .addDialog,
  .modifyDialog {
    .el-dialog {
      @include webkit("box-shadow", none);
    }
  }

  .memberList {
    .el-tree-node__content {
      position: relative;
    }

    .tree-text {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 43px;
      @include webkit("box-sizing", border-box);
    }

    .departTool {
      .moreTool {
        vertical-align: middle;
      }
    }

    .moreTool {
      vertical-align: middle;
      display: inline-block;
      margin-left: 15px;
    }

    .delMemberBtn {
      /*position: absolute;
      right: 0;
      top: 0;*/
    }

    .addMemberBtn {
      /*position: absolute;
      right: 0;
      top: 0;*/
    }
  }
}

.v-modal {
  // z-index: 1000 !important;
}

// tree 节点
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #3a6291;
  color: #fff;
}

/*
 * rail
 */
.modifyRailModule {
  //height: 950px;
}

// modify form表单
.modify_ruleForm {
  padding: 20px 20px 0 0;

  .railBtn {
    margin-top: 20px;
  }
}

.form-item {
  margin-bottom: 20px;
}

.detail {
  .el-form-item__label {
    text-align-last: left;
    width: 120px;
    padding-right: 9px;
    font-size: 14px;
  }

  .label-info {
    font-size: 14px;
  }
}

.list {
  .el-submenu__title {
    width: 205.84px;
  }

  .el-submenu__title:focus {
    background: #dfe9f5;
  }
}

// #memberRailList .el-dialog {
//   width: 55%;
// }
.el-dialog {
  width: 800px;
  min-width: 730px;
}

/**部门 左侧菜单*/
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

.el-icon-arrow-down {
  font-size: 12px;
}

.demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}

.el-table .warning-row {
  color: #da5646;
}

.el-table .success-row {
  background: #f0f9eb;
}
/*
 * 表格样式
 */
#info_table {
  .el-table .warning-row {
    color: #da5646;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
}

/*
 * 添加未分组成员表格样式
 */
#nodepart_dialog {
  .el-table .warning-row {
    color: #da5646;
  }

  .el-table .success-row {
    color: #f0f9eb;
  }
}
/**批量移除成員表格樣式
 *
 */
.has_member .el-table .el-table__header-wrapper .has-gutter th {
  height: 34px !important;
  padding: 0;
}

/**
  * map search
  */
#search_person {
  .el-input__inner {
    border-radius: 0;
    height: 29px;
    width: 183px;
    outline: none;
    border-right: 0;
    margin-top: 1px;
  }

  .el-tooltip {
    div {
      display: inline-block;
    }
  }
}

.el-autocomplete-suggestion {
  border-radius: 0;
}

#search_city {
  .el-tooltip {
    div {
      display: inline-block;
    }
  }
}
.online_dialog,
.temperature_dialog,
.alarm_dialog,
.person_dialog,
.position_dialog {
  .el-dialog__body {
    padding: 20px 20px 50px 20px;
    .el-pagination {
      position: absolute;
      right: 18px;
      bottom: 10px;
    }
  }
}
#temperature_box {
  .el-pagination {
    margin-bottom: 15px;
    transform: translateX(350px) translateY(-11px);
  }
}

// 权限管理菜单项
.el-menu-item.is-active {
  background: #4a77ac;
  color: #fff;
}
.el-submenu .el-menu-item {
  height: 44px;
  line-height: 44px;
}
.el-menu-item,
.el-submenu__title {
  height: 44px;
  line-height: 44px;
}

// 修改个人信息
.modify_form {
  .el-form-item__label {
    width: 50px !important;
  }
  .el-form-item__content {
    margin-left: 50px !important;
  }
  .el-input {
    width: 50%;
  }
  .el-input__inner {
    width: 100%;
    // border: 1px solid #c7c7c7;
    border-radius: 2px;
  }
  .el-textarea__inner {
    width: 50%;
  }
  .el-radio {
    margin-right: 15px;
  }
}

.el-table__row {
  cursor: pointer;
}
.el-drawer__body {
  overflow: scroll;
  overflow-x: hidden;
}
:focus {
  outline: none;
}

/**上传头像 login */
.avatar-uploader {
  text-align: center;
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .el-upload:hover {
    border-color: #409eff;
  }
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
#modify_photo .el-dialog {
  width: 500px;
  min-width: 500px;
}
/**上传头像 end */

.el-tag {
  background-color: #ecf5ff;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #409eff;
  border: 1px solid #d9ecff;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.el-tag.el-tag--success {
  background-color: #67c23a !important;
  border-color: #67c23a !important;
  color: #d7efca !important;
}

.el-tag.el-tag--primary {
  background-color: #dfe0e1 !important;
  border-color: #dfe0e1 !important;
  color: #919599 !important;
}

/** dialog
 * type: input
 */
.universal_dialog {
  .el-dialog {
    width: 430px;
    min-width: 430px;
    .el-dialog__header {
      background: #4e79ad;
      height: 40px;
      line-height: 40px;
      padding: 0 0 0 31px;
      .el-dialog__title {
        color: #fff;
        font-size: 13px;
      }
      .span {
        color: #fff;
        font-size: 13px;
      }
      .el-dialog__headerbtn {
        color: #fff;
        top: 12px;
        right: 20px;
        .el-dialog__close {
          color: #fff;
        }
      }
    }
    .el-dialog__body {
      padding: 40px 20px 40px 33px;
      color: #000;
      font-size: 14px;
      border-bottom: 1px solid #e4e6e9;
      .el-form-item {
        label {
          width: 68px !important;
          font-weight: 700;
        }
        .el-form-item__content {
          margin-left: 69px !important;
          .el-input__inner {
            width: 294px;
            height: 26px;
            border-radius: 0;
            border: 1px solid #c7c7c7;
          }
        }
      }
    }
    .el-dialog__footer {
      padding: 12px 20px 12px;
      text-align: right;
      box-sizing: border-box;
      .el-button {
        width: 50px;
        height: 26px;
        font-size: 12px;
        border-radius: 2px;
        padding: 0;
      }
      .el-button--primary {
        color: #fff;
        border-color: #3c87c7;
        background: #3c87c7;
      }
      .el-button--primary:hover {
        border-color: #2971a2;
        background-image: linear-gradient(to bottom, #4490d6 0%, #357fb8 100%);
      }
      .el-button--default {
        border-color: #b4bec8;
        color: #222;
      }
      .el-button--default:hover {
        color: #222;
        border-color: #b4bec8;
        background-image: -webkit-linear-gradient(
          to top,
          #fff 0%,
          #ebebeb 100%
        );
      }
    }
  }
}

/** dialog
 * type: table 
 */
.table_dialog {
  .el-dialog {
    width: 800px;
    .el-dialog__body {
      padding: 0 20px 50px 25px;
      .el-table__header-wrapper {
        .el-table__header {
          font-size: 14px;
        }
      }
      .el-table__body-wrapper {
        .el-table__body {
          font-size: 14px;
        }
      }
    }
  }
}

/** dialog
 * type: table and input
 */
.table_input_dialog {
  .el-dialog {
    width: 800px;
    .el-dialog__body {
      padding: 15px 31px;
    }
  }
}

.el-button--text {
  color: #3c87c7;
}

/** table
 * 
 */
 // 表头
.universal_table_header {
  th {
    padding: 5px 0;
    font-size: 14px;
  }
}
// 行
.universal_table_row {
  td {
    padding: 5px 0;
    font-size: 15px;
  }
}
// 添加未分组成员单独设置padding
#nodepart_dialog {
  td {
    padding: 10px 0;
  }
}